*.test
*.pem
*.out
.DS_Store

# IDE specific files:
.idea/
*.iml
*.swp
.vscode

# applications
.config
bin/
**/kubeconfig/*.yaml
**/kubeconfig/config
**/ssh/*.pem
**/output/*
**/data/logs
**/cb-operator
**/meta_db/*
**/output/
credentials

